			
				<h2>PESQUISA DE SALA</h2>
				<div class="form-group">
					<div class="form-row form-row-1">
						<label for="id">Número da sala</label>
						<input type="text" value="{{id}}" name="id" id="id" class="input-text">
					</div>
					<div class="form-row form-row-1">
						<label for="room_type">Tipo</label>
						<input type="text" value="{{room_type}}" name="room_type" id="room_type" class="input-text">
					</div>
				</div>
				<div class="form-group">
					<div class="form-row form-row-1">
						<label for="map_position_x">Posição X</label>
						<input type="text" value="{{map_position_x}}" name="map_position_x" id="map_position_x" class="input-text">
					</div>
					<div class="form-row form-row-1">
						<label for="map_position_y">Posição Y</label>
						<input type="text" value="{{map_position_y}}" name="map_position_y" id="map_position_y" class="input-text">
					</div>
				</div>
				<div class="form-row">
					<label for="capacity">Capacidade</label>
					<input type="text" value="{{capacity}}" name="capacity" id="capacity" class="input-text">
				</div>